<!-- src/app/header/header.component.html -->
<header class="head-con login-sec">
  <div>
    <div style="display: flex;">
      <i class="fas fa-calculator"></i>
      <h2 style = "margin-left: 20px;margin-right: auto;"> Electric Longboard Calculator</h2>
      <span *ngIf="auth.loggingIn">Logging in...</span>
      <div style="margin-right: 10px; line-height: .4;">
      <ng-template [ngIf]="!auth.loggingIn">
        <button *ngIf="!auth.loggedIn" (click)="auth.login()">Log In</button>
        <span *ngIf="auth.loggedIn && auth.userProfile">
          <button><a routerLink = "profile">{{ auth.userProfile.name }}</a></button>
          <span>|</span>
          <button (click)="auth.logout()">Log Out</button>
        </span>
      </ng-template>
      </div>
    </div>
    </div>
    </header>