/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Ubuntu', sans-serif;
}
html{
    background-image: linear-gradient(to bottom right, #bdc3c7, #2c3e50);
    background-repeat: no-repeat;
    background-size: auto;
    height:100%;
    padding: 0px;
    margin: 0px;
}
body{
    width:100%;
    margin: 0px;
    padding: 0px;
}