<div class= "profile-main">

<div style="margin: auto; display: block; width:480px; margin: auto;">
    <div style="text-align: center;">
<h3>Hello {{ auth.userProfile.name }}!</h3>
<h4>Welcome to your profile page:</h4>
<p>Here you can see all the information currently stored in your profile.</p>
    </div>

<div style="display:flex; width: 80%;">
<img src={{auth.userProfile.picture}} alt="Profile-Picture">
<ul>
    <li>
        <h5 style="text-decoration: underline;">Info:</h5>
    </li>
    <li>
       <span>Name:</span> {{ auth.userProfile.name }}
    </li>
    <li>
        <span>Nickname:</span> {{ auth.userProfile.nickname }}
    </li>
    <li>
        <span>Last-Updated:</span> {{ auth.userProfile.updated_at }}
    </li>
</ul>
</div>
</div>

</div>
