/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'Ubuntu', sans-serif;
}
html{
    background-color: #EFF2D8;
    background-size: auto;
    height:100%;
    padding: 0px;
    margin: 0px;
    min-width:723px;
}
body{
    width:100%;
    margin: 0px;
    padding: 0px;
    background-color: #EFF2D8;
}